body {
    background: url('./img/img1.jpg');
    height: 100%; 
    /* background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    color: #fff;
    text-shadow: 2px 2px 1px #333;
    font-family: Arial, Helvetica, sans-serif;
}

#weather-container {
    background-color: rgba(0,0,0,0.25);
    box-shadow: 1px 1px 5px #333;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

#weather-container h1 {
    margin: 5px;
    font-size: 43px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#search-container {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#search-container input {
    width: 220px;
}

#search-container button {
    background-color: rgb(1,155,205);
    width: 90px;
}

.search-control {
    box-shadow: 2px 2px 5px #333;
    border: none;
    border-radius: 6px;
    padding: 6px;
}


#weather-main {
    display: block;
    margin-bottom: 25px;
}

#weather-main div {
    display: inline-block;
}

#weather-description-header {
    font-size: 28px;
    vertical-align: 50%;
}

#temperature {
    font-size: 40px;
    vertical-align: 25%;
}

.bottom-details {
    display: block;
    font-size: 22px;
    text-align: right;
}

hr {
    margin-bottom: 20px;
}